body {
  padding-top: 30px;
  margin: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-radius: 10px;
  background-color: #EEEEEE;
}

h1 {
  position: relative;
  align-text: center;
  margin: 0 auto;
  padding-left: 95px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 60px;
}

h5 {
  position: relative;
  align-text: center;
  margin: 0 auto;
  padding-left: 95px;
  padding-bottom: 30px;
  font-weight: bold;
  font-size: 18px;
}

div,
a {
  padding: 0;
  margin: 0;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

a {
  cursor: pointer;
}

#calculator {
  height: 420px;
  width: 300px;
  margin: 0 auto;
  background-color: #999;
  border-radius: 10px;
  border: 1px solid;
  border-color: #2F4F4F;
}

#display {
  height: 118px;
  width: 298px;
  background-color: black;
  font-size: 40px;
  color: #FFFFFF;
  text-align: right;
  padding-top: 50px;
  padding-right: 10px;
  border-color: #2F4F4F;
  border-width: medium;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

#functions {
  width: 75%;
}

#numbers {
  width: 75%;
}

#zero {
  width: 149px !important;
  border-bottom-left-radius: 8px;
}

#equals {
  border-bottom-right-radius: 8px;
}

#operators {
  width: 20%;
  float: right;
}

#operators a {
  display: block;
  width: 74.5px;
  height: 60px;
  float: right;
  text-align: center;
  color: black;
  font-size: 40px;
  border: 1px solid;
  text-decoration: none;
  border-width: thin;
  border-color: #2F4F4F;
  background: -webkit-gradient(linear, left top, left bottom, from(#F5923D), to(#E87002));
  background: -moz-linear-gradient(top, #F5923D, #E87002);
}

#operators a:active {
  background: #FC500E;
}

#numbers a,
#functions a {
  display: block;
  float: left;
  text-align: center;
  color: black;
  font-size: 38px;
  height: 60px;
  width: 74.5px;
  border: 1px solid;
  border-width: thin;
  border-color: #2F4F4F;
  text-decoration: none;
  background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
  background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
}

#numbers a:active,
#functions a:active {
  background: #AEAEAE;
}