<style>body {
  position: relative;
}

#preloadedImages {
  width: 0px;
  height: 0px;
  display: inline;
  background-image: url("../images/mountfuji.jpg");
  background-image: url("../images/yosemite.jpg");
  background-image: url("../images/aspen.jpg");
  background-image: url();
}

#welcome {
  margin-top: -100px;
  padding-bottom: 50px;
  height: 900px;
  background-image: url("../images/yosemite.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  animation-name: slider;
  animation-duration: 15s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
  animation-fill-mode: forwards;
  animation-direction: normal;
  opacity: 0.9;
}

@keyframes slider {
  0% {
    background-image: url("../images/yosemite.jpg");
  }
  50% {
    background-image: url("../images/mountfuji.jpg");
  }
  100% {
    background-image: url("../images/aspen.jpg");
  }
}

#welcome h1 {
  padding-top: 230px;
  font-size: 700%;
  color: #ffffff;
  /*color: #E9F8F7;*/
  margin-left: 25%;
  text-align: right;
}

#welcome p {
  margin-top: 5%;
  margin-left: 60%;
  font-size: 180%;
  color: #ffffff;
  /*color: #E9F8F7;*/
}

#instafeed {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  a {
    position: relative;
    width: 50%;
    @media only screen and (min-width: 580px) {
      width: 25%
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
  }
}

@media all and (max-width: 700px) and (min-width: 300px) {
  #welcome {
    margin-top: -100px;
    padding-bottom: 50px;
    height: 700px;
    background-image: url("../images/yosemite.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation-name: slider;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
    animation-play-state: running;
    animation-fill-mode: forwards;
    animation-direction: alternate;
    opacity: 0.9;
  }
  #welcome h1 {
    font-size: 400%;
  }
  #welcome p {
    font-size: 120%;
  }
  #quote {
    font-size: 10px;
  }
  #address {
    margin-left: -50px;
  }
}

.navbar {
  margin-bottom: 0px;
  background-color: #00979D;
  border: 1px transparent #e7e7e7;
  border-radius: 10px;
  opacity: 0.8;
}

.navbar-header {
  font-size: 120%;
}

.navbar a {
  color: #fff;
  font-size: 110%;
}

.navbar ul a:hover {
  background-color: #008184;
}

.navbar-header a:hover {
  background-color: #008184;
}

span {
  background-color: white;
}

.active {
  background-color: #008184;
}

.affix {
  top: 0;
  width: 100%;
  z-index: 9999 !important;
}

.affix-top {
  position: absolute;
  width: 100vw;
}

.affix .container-fluid {
  position: relative;
}

/*
h2 {
  padding-bottom: 20px;
}
*/

#home {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 15px;
  height: auto;
}

#home p {
  padding-top: 20px;
  padding-bottom: 30px;
}

.newQuote {
  position: relative;
  width: 70%;
  border: 3px solid #00979D;
  border-radius: 5px;
  color: black;
  text-align: center;
  padding: 20px 30px 20px 20px;
  margin-top: 50px;
}

#quote {
  font-size: 18px;
  text-align: center;
  margin-bottom: 0;
}

#author {
  margin-top: -20px;
  font-size: 16px;
  font-weight: bold;
  font-style: oblique;
  margin-bottom: 0;
}

#quoteButton {
  display: inline;
  background-color: #00979D;
  border: none;
  color: white;
  font-size: 13.5px;
  border-radius: 5px;
  padding: 5px 10px 4px 10px;
  vertical-align: top;
}

#quoteButton:hover {
  background-color: #008184;
}

#about {
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 18px;
  height: auto;
}

#portfolio {
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
  font-size: 18px;
}

/*
#webPortfolio {
  padding-top: 20px;
  padding-bottom: 10px;
  text-decoration: underline;
}
*/

#contact {
  padding-top: 50px;
  padding-bottom: 50px;
  height: auto;
}

.row-fluid {
  margin-top: 30px;
}

[class*="col-"] {
  margin-bottom: 15px;
}

/*
#googleMap {
  height: 300px;
  border-radius: 10px;
}
*/

#formy {
  height: 300px;
  border-radius: 10px;
  align-text: center;
}

#address .row-fluid {
  margin-top: -20px;
}

.socialMedia ul {
  padding-top: 30px;
  width: 100%;
  padding-right: 41%;
  padding-top: 100px;
}

.socialMedia ul li {
  list-style-type: none;
  float: right;
}

.socialMedia ul li a i {
  background: #00979D;
  color: #fff;
  width: 40px;
  height: 40px;
  border-radius: 30px;
  font-size: 23px;
  text-align: center;
  margin-right: 10px;
  padding-top: 18%;
  /*margin-bottom: 10px;*/
}

.socialMedia ul li a i:hover {
  background: #00979D;
  color: #fff;
  width: 50px;
  height: 50px;
  border-radius: 35px;
  font-size: 30px;
  text-align: center;
  vertical-align: center;
  margin-right: 10px;
  padding-top: 18%;
  /*margin-bottom: 10px;*/
}

#copyright {
  /*padding-top: 80px;*/
  margin: auto;
  font-size: 95%;
  text-align: center;
}

</style>